/* This is used in the search field autocompletion */
/* @noflip */
.mw-mnss-srcc {
	float: left;
    color: blue !important;
	font-style: italic;
}
/* @noflip */
.mw-mnss-srcc :hover {
    float: left;
    color: white !important;
    font-style: italic;
}

/* @noflip */
.filterBtn {
    right: 4px;
    top: 7px !important;
    color: #FFFFFF !important;
    left: 4px;
    background-color: #40C9B4;
    border-color: #007095;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0;
    border-style: solid;
    border-width: 0;
    cursor: pointer;
}
